/*Texto de informacion de las clases */
.texto1 {
  
  
}
.texto11 {
  list-style: none;
  position: absolute;
  padding-top: 5%;
  /* background-color: #bd070741; */
  width: 60%;
  height: 60%;
  
}
.texto12 {
  color: beige;
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.texto13 {
  color:#00bfff;
  font-size: 44px;
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.texto14 {
  color: #dad7cd;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.texto15 {
  color: #fe2d3b;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.8);
}
.btndiv{
  padding-top: 40px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;

}
.btnwht {
  background-color:bisque;
  width: 400px;
  height: 140px;
  border-radius: 6px;
  border: 2px solid black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btnli {
  margin-right: 15px;
}
.btnreal {
  display: flex;
  justify-content: flex-end;
  background-color: black;
  color: azure;
  margin-right: 5px;
  height: 35px;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}

/* Quienes Somos */
.divQS {
  position:absolute;
  display: flex;
  justify-content: center;
  left: 30%;
  right: 30%;
  height: 60%;
  color: gold;
  font-family: "Poppins", sans-serif;
  background-color: rgba(245, 245, 220, 0.22);

}